.App {
  margin: 1em auto;
  max-width: 1400px;
}

.paginator, .searchContainer {
  display: block;
  text-align: center;
  padding: 1em;
}

.container {
  background-color: #f6f6ef;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.listHeader {
  background-color: #ff6600;
}

.listHeader * {
  vertical-align: top;
}

.ypsilon {
  display: inline-block;
  width: 20px;
  height: 20px; 
  margin: 1px;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  text-align: center;
}

.title {
  font-weight: bold;
  padding: 0 1em;
}

.navigationLinks a {
  text-decoration: none;
  color: black;
  font-size: 0.9em;
}

.storyContainer {
  margin: 0.5em 0.5em;
}

.storyTitle {
  margin-top: 0.2em;
}

.storyTitle a {
  text-decoration: none;
  color: black;
}

.storyInfo {
  font-size: 0.7em;
  color: #9a9a9a;
}
